body {
    display: flex;
}
#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
}
#content {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.menu-item {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
}
.menu-item img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.quantity-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.quantity-counter input {
    width: 60px;
    text-align: center;
    margin: 0 5px;
}