body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FF8383;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background: none;
}

.navbar a {
    text-decoration: none;
    margin: 0 50px;
    color: #ffffff;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.content {
    color: #ffe06b;
    text-shadow: 2px 2px #9d0505;
}

.content h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.content .btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #9966cc;
    color: #fff;
    text-decoration: none;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.form-container h2 {
    color: #ff6f61;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.form-container .btn-primary {
    background-color: #9966cc;
    border: none;
    color: #fff;
}

.form-container .btn-secondary {
    background-color: #FFBDBD;
    border: none;
    color: #fff;
}

a{
    text-decoration: none;
    color: white;
}